html, body {
            background: #000;
            width: 100%;   
            height: 100%;   
            font-family: "Helvetica Neue", Helvetica, sans-serif;   
            color: #bbb;   
            -webkit-font-smoothing: antialiased;
        }
        form {
            margin: 0 auto;
            margin-top: 20px;
        }
        label {
            color: #555;
            display: inline-block;
            margin-left: 18px;
            padding-top: 10px;
            font-size: 14px;
        }
        p a {
            font-size: 11px;
            color: #aaa;
            float: right;
            margin-top: -13px;
            margin-right: 20px;
        }
        p a:hover {
            color: #555;
        }
        input {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12px;
            outline: none;
        }
        input[type=text],
        input[type=password] {
            color: #777;
            padding-left: 10px;
            margin: 10px;
            margin-top: 12px;
            margin-left: 18px;
            width: 290px;
            height: 35px;
            border: 1px solid #c7d0d2;
            border-radius: 2px;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
        }
        input[type=checkbox] {
            margin-left: 20px;
            margin-top: 30px;
        }
        .check {
            margin-left: 3px;
        }
        input[type=submit] {
            float: right;
            margin-right: 20px;
            margin-top: 20px;
            width: 80px;
            height: 30px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            background-color: #acd6ef; /*IE fallback*/
            background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
            background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
            background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
            border-radius: 30px;
            border: 1px solid #66add6;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
            cursor: pointer;
        }
        #gameShell {
            margin: 0;
            padding: 0;
            width: 1200px;
            height: 600px;
        }
        #canvas {
            width: 1000px;
            height: 450px;
            margin: 0;
            float: left;
        }
        #rightPanel {
            background: #222;
            margin: 0;
            float: right;
            width: 200px;
            height: 450px;
        }
        #rightPanel .item {
            width: 32px;
            height: 32px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 7px;
            padding: 2px;
            display: inline-block;
            text-align: center;
            overflow: hidden;
        }
        #rightPanel .item>.multiplier {
            color: yellow;
            position: absolute;
            display: block;
            left: auto;
            top: auto;
            margin-left: 16px;
            margin-top: 18px;
            font-family: fantasy;
            font-size: 12px;
        }
        #rightPanelItems {
            margin-top: 210px;
        }
        #bottomPanel {
            padding: 3px;
            background: rgba(0, 0, 0, .72);
            margin: 0;
            width: 1200px;
            height: 150px;
        }
        #chatPanel {
            width: 447px;
            height: 133px;
            float: left;
        }
        #chatBox {
            background-image: url('/assets/ui/chatBox.png');
            color: black;
            width: 374px;
            height: 133px;
            vertical-align: bottom;
            float: left;
        }
        #chatBtn {
            background-image: url('/assets/ui/chatBtn_up.png');
            width: 72px;
            height: 49px;
            float: right;
            margin-top: 84px;
            cursor: pointer;
        }
        #chatBtnDown {
            background-image: url('assets/ui/chatBtn.png');
            width: 72px;
            height: 49px;
            float: right;
            margin-top: 84px;
        }
        #infoBox {
            background: #222;
            color: white;
            width: 738px;
            height: 133px;
            float: right;
            margin-right: 7px;
            overflow: scroll;
        }

        .lambImg {
            display:inline-block;
            background: url('/assets/game/sheep_sprite.png');
            background-position:-200px 0px;
            width:40px;
            height:40px;
            float: left;
        }
        .infoTable {
            display: inline-block;
        }